---
---

@charset "utf-8";

// // Our variables
// $font: 'Lato', sans-serif;
//
// // Colors
// $white: #fff;
// // $gray: #353a40;
// $blue_gray: rgb(250,250,255);
// $light_gray: rgb(244,244,247);
// $gray_light: #f3f3f3; // Remove
// $gray: rgb(145,150,170);
// $gray_dark: #24292e; // Remove
// $dark_gray: rgb(85,90,105);
// $slate: rgb(40,44,52);
// $charcoal: rgb(33,37,43);
// $black: rgb(24,26,31);
// $black_trans: rgba(0,0,0,0.4);
//
// // $yellow: #FFCC00;
// // $blue: #327CCB;
// // $green: #19DD89;
// $green: rgb(20,213,132);
// $light_green: #A8DBA8;
// $dark_green: #3B8686;
//
// $light_red: #F9D1C3;
// // $red: rgb(224,108,117);
// $red: rgb(227,25,55);
//
// $light_yellow: rgba(252,215,51,0.2);
// $yellow: rgb(252,215,51);
// $light_blue: rgb(100,200,255);
// $blue: rgb(33,150,243);
// $dark_blue: rgb(11,46,89);
//
// $blue_trans: rgba(20,50,70,0.5);

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$green: #17bb77;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

a:hover, button:hover {
  cursor: pointer;
}


#welcome {
  background-size: cover;
  background-position: center;
  .filter {
    background-color: rgba(43, 64, 183, 0.69);
  }
  .textElement {
    padding: 200px 0;
    text-align: center;
    h1 {
      color: #fff;
      font-weight: 300;
      font-size: 3em;
      line-height: 1.3em;
      span {
        font-weight: 700;
      }
    }
    p {
      color: #fff;
    }
  }
  .btn {
    border-radius: 15px;
    padding: 10px 30px;
    margin: 10px auto 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
  }
}

#preview {
  img {
    border: 1px solid #ddd;
    max-width: 100%;
  }
  h6 {
    font-size: 3em;
    line-height: 1.5em;
    margin: 50px 0 20px;
    font-weight: 300;
  }
  p {
    font-size: 1.2em;
    font-weight: 300;
    max-width: 80%;
    &:first-of-type {
      border-top: 1px solid rgba(175, 175, 175, 0.25);
      padding-top: 30px;
    }
  }
  .btn {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

#benefits {
  background: #f1f1f1;
  .item {
    text-align: center;
    min-height: 194px;
    padding: 10px;
    margin: 20px 0;
    background: #fff;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    &:hover {
      background: rgba(33, 150, 243, 0.29);
    }
    .fa {
      font-size: 3em;
      color: #2196F3;
      padding-top: 20px;
    }
    p {
      font-size: 18px;
      padding: 20px 0;
      margin: 0;
      font-weight: 300;
    }
  }
}

#action {
  h3 {
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 0 20px 40px;
  }
}

.footer {
  background: #141414;
  margin-top: 0;
  padding: 20px 0;
  text-align: center;
  h6 {
    font-size: 16px;
    color: #ccc;
    font-weight: 400;
    padding: 15px 0;
    margin: 0;
    .fa {
      margin-right: 10px;
    }
    a {
      color: #777;
    }
  }
}

@import "bootstrap/bootstrap";
@import "fiat-ui";
