// Button styles

.btn {
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  .svg-inline--fa {
    opacity: 0.7;
  }
  &.btn-primary {
    background: $blue;
    border: 1px solid $blue;
    &:hover {
      background: $blue;
      border: 1px solid $blue;
      opacity: .9;
    }
  }
}
