// Styles for smaller elements on pages

.callout {
  h3 {
    font-size: 1.5rem;
    margin: 10px 0 0;
    padding: 0;
    line-height: 1.3em;
  }
  h5 {
    font-size: 0.8rem;
    text-transform: uppercase;
    background: $yellow;
    color: $dark_gray;
    display: inline-block;
    padding: 0 0.75rem;
    border-radius: 1rem;
  }
  h6 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin-top: 30px;
    padding: 0 30px;
    opacity: 0.7;
  }
  .svg-inline--fa {
    &.heading {
      color: $white;
      font-size: 3rem;
      background: $yellow;
      padding: 1rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
  }
  &.white {
    h1,h3,h6 {
      color: $white;
    }
  }
}

.sheet {
  // background: $white;
  border-radius: 5px;
  h2 {
    color: $dark_gray;
    font-size: 1.4rem;
  }
  h6 {
    color: $dark_gray;
    font-weight: normal;
  }
  &.dark {
    background: $slate;
  }
  .header {
    background: $slate;
  }
  .body {
    background: $white;
  }
}

.terminal {
  background: $slate;
  border-radius: 5px;
  padding: 25px 40px;
  p {
    color: $light_gray;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
  }
  span {
    color: $gray;
    &.blue {
      color: $light_blue;
    }
  }
}

// img {
//   &.fixed-left {
//     position: absolute;
//     left: 2rem;
//     margin-top: -3rem;
//   }
// }
