// Tweakable style aspects

.bg-light-gray {
  background: $light_gray !important;
}

.bg-dark-gray {
  background: $dark_gray !important;
}

.bg-charcoal {
  background: $charcoal !important;
}

.bg-blue {
  background: $blue !important;
}

.bg-green {
  background: $green !important;
}

.bg-yellow {
  background: $yellow !important;
}

.text-blue {
  color: $blue !important;
}
