// Type-related styles

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header;
  font-weight: bold;
  color: $dark_gray;
  .blue {
    color: $blue;
  }
  .svg-inline--fa {
    opacity: 0.5;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
