// Any variables required by Fiat UI

// Fonts

$header: 'Open Sans', sans-serif;
$body: 'Lato', sans-serif;

// Colors

$white: #fff;
$blue_gray: rgb(250,250,255);
$light_gray: rgb(244,244,247);
$gray: rgb(145,150,170);
$dark_gray: rgb(85,90,105);
$slate: rgb(40,44,52);
$charcoal: rgb(33,37,43);
$black: rgb(24,26,31);

$green: rgb(20,213,132);
$light_green: #A8DBA8;
$dark_green: #3B8686;

$light_red: #F9D1C3;
$red: rgb(227,25,55);

$light_yellow: rgba(252,215,51,0.2);
$yellow: rgb(252,215,51);

$light_blue: rgb(100,200,255);
$blue: rgb(33,150,243);
$dark_blue: rgb(11,46,89);

$black_trans: rgba(0,0,0,0.4);
$blue_trans: rgba(20,50,70,0.5);
