<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Simple, affordable parish websites" />
	<meta name="robots" content="noodp"/>
	<title>Parish.es</title>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<script src="{{ "/js/fontawesome-all.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="shortcut icon" href="https://s3.amazonaws.com/parish.es/brand/parishes-logo_v4-icon.svg" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bitter:300,400,400i,700" rel="stylesheet">

	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Parish.es" />
	<meta property="og:description" content="Parish.es provides simple, affordable parish websites" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<meta property="og:site_name" content="Parish.es" />
	<meta property="og:image" content="https://s3.amazonaws.com/parish.es/brand/parish-es-splash.png" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@parish_es">
	<meta name="twitter:creator" content="@parish_es">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="{{ 'js/bootstrap.min.js' | relative_url }}"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37022775-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-37022775-5');
  </script>
</head>
